APP_NAME=FinTrace
DEBUG=True

DB_HOST=your_host
DB_PORT=your_port
DB_NAME=your_db_name
DB_USER=your_db_user
DB_PASSWORD=your_db_password

DATABASE_URL=your_db_url

SECRET_KEY=your_secret_key
ALGORITHM=your_algorithm
ACCESS_SECRET_KEY=access_key
REFRESH_SECRET_KEY=refresh_key